<table class="table table-striped table-bordered">
  <% @comment.each do |comment| %>
    <tr>
      <td><%= comment.email %></td>
      <td><%= comment.content %></td>
      <td>
        <% if comment.blog %>
          <%= link_to comment.blog.title, comment.blog %>
        <% else %>
          deleted
        <% end %>
      </td>
      <td><%= l comment.created_at, format: :short %></td>
    </tr>
  <% end %>
</table>
